{% extends 'products/base.html' %}
{% load static humanize %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Store</h1>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="{% url 'category' category.id %}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                    <a href="{% url 'products' %}" class="list-group-item">Все категории</a>
                </div>
                <h5 class="title_filter">Фильтры</h5>
                <form>
{#                    {{ search_form }}#}
                    <input type="hidden" name="query" value="{{ request.GET.query }}" />
                    <p class="price_title">Цена</p>
                    <div class="price_filter">
{#                        {{ price_filter_form }}#}
                        <label for="id_min_price">От</label>
                        {{ price_filter_form.min_price }}
                        <label for="id_max_price">До</label>
                        {{ price_filter_form.max_price }}
                    </div>
                    <div class="block-in_stock">
                        {{ price_filter_form.in_stock }} В наличии
                    </div>
                    <div class="form-button-filter">
                        <button type="submit" class="button_filter">Применить</button>
                        <a href="?"><div class="form-reset-button">Сбросить</div></a>
                    </div>

                </form>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <form>
                    {{ search_form }}
                    <input type="hidden" name="min_price" value="{{ request.GET.min_price }}" />
                    <input type="hidden" name="max_price" value="{{ request.GET.max_price }}" />
                    <input type="hidden" name="in_stock" value="{{ request.GET.in_stock }}" />
                    <button type="submit" class="button_filter search">Поиск</button>
                </form>

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="{% static 'vendor/img/slides/slide-1.jpg' %}"
                                 alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{% static 'vendor/img/slides/slide-2.jpg' %}"
                                 alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{% static 'vendor/img/slides/slide-3.jpg' %}"
                                 alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="row">

                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#">
                                    <img class="card-img-top"
                                         src="{{ product.image.url }}"
                                         alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">{{ product.name }}</a>
                                    </h4>
                                    <h5>{{ product.price|intcomma }} руб.</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                                <div class="card-footer text-center">
                                    {% if product.quantity > 0 %}
                                        <a class="btn btn-outline-success" href="{% url 'basket_add' product.id %}">
                                            Отправить в корзину
                                        </a>
                                    {% else %}
                                        <p>Нет в наличии</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                {% if products.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                href="?page={{ products.previous_page_number }}">
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" disabled href="#"
                                tabindex="-1">
                            {% endif %}
                                Предыдущий</a>
                            </li>
                            {% for count in products.paginator.page_range %}

                            {% if count >= products.number|add:-2 and count <= products.number|add:2 %}
                                {% if products.number == count %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}page={{ count }}">
                                    {{ count }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                href="?page={{ products.next_page_number }}">
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" disabled href="#"
                                tabindex="-1">
                            {% endif %}
                                Следующий</a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}

            </div>

        </div>

    </div>
{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Store 2025</p>
        </div>
    </footer>
{% endblock %}

